<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include unit/quote.ejs %>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="filler visible-sm visible-md visible-lg" style="height: 300px;" "></div>
				<div class="filler visible-xs" style="height: 150px;" "></div>
				<h1 class="text-center"><%= title %></h1>
				<style type="text/css">
					p > a{font-weight: 900;}
					a:link, a:hover, a:visited{text-decoration: none;}
				</style>
				<p class="text-center"><a href="/login">LOG IN</a></p>
				<p class="text-center"><a href="/register">SIGN UP</a></p>
			</div>
		</div>
	</div>
	
	<!-- <form method="post" enctype="multipart/form-data" action="/coverUpload">
		<input type="file" name="cover">
		<input type="submit">
	</form> -->
	<%- include unit/footer.ejs %>
</body>
</html>
