<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include quote.ejs %>
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= user %> </p>
    <a href="/login">LOG IN</a>
    <br/>
    <a href="/register">SIGN UP</a>
  </body>
</html>
