<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<%- include unit/quote.ejs %>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js"> </script>
    <script type="text/javascript" charset="utf-8" src="/ueditor/lang/zh-cn/zh-cn.js"> </script>
    <style type="text/css">
    div{
        width:100%;
    }
    </style>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="col-xs-12">
					<h1>编辑文章
						<a href="" id="goBack" class="btn btn-success">
							<span class="glyphicon glyphicon-share-alt"></span>
						</a>
					</h1>
				</div>
				<div class="col-xs-9 col-sm-10">
					<input type="text" class="form-control input-sm" id="title" placeholder="输入文章标题">
					<input type="text" id="artCoverUrl" id="articleCoverUrl" style="display: none;"/>
				</div>
				<form id="postPic" class="col-xs-3 col-sm-2">
					<label for="uploadArtCover" class="btn btn-success btn-sm" style="width: 100%;">
						<span class="visible-xs visible-sm visible-md glyphicon glyphicon-picture"></span>
						<span class="visible-lg">上传文章封面图片</span>
					</label>
					<input id="uploadArtCover" type="file" name="artcover" style="display: none;" />
				</form>
				<div class="filler" style="height: 6px;"></div>
				<div class="col-xs-12">
					<textarea class="form-control" placeholder="输入文章摘要" id="abstract" rows="5"></textarea>
				</div>
				<div class="filler" style="height: 6px;"></div>
				<div class="col-xs-12">
				    <script id="textarea" type="text/plain" style="width: 100%; height: 480px;"></script>
					<script type="text/javascript">
				    	var ue = UE.getEditor('textarea');
					</script>
				</div>
				<div class="filler" style="height: 6px;"></div>
				<div class="col-xs-12">
					<a class="btn btn-success btn-sm" id="publishArticle">发布文章</a>
				</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	var userid = "<%= locals.islogin %>";
	$('#goBack').click(function(){
		window.history.go(-1);
	});
	$('html').dblclick(function(){
		alert(userid);
	});
	$("#publishArticle").click(function(){
		$.ajax({
			url: '/publishArticle',
			type: 'POST',
			data: {
				author: userid,
				content: UE.getEditor('textarea').getContent(),
				title: $('#title').val(),
				articleCoverUrl: $('#artCoverUrl').val(),
				abstract: $('#abstract').val()
			},
			success: function(data) {
				alert(data);
			},
			error: function(data) {
				alert(data.status + " : " + data.statusText + " : " + data.responseText);
			} 
		});
	});
	$("#uploadArtCover").change(function(){
		$.ajax({
			url: '/artCoverUpload',
			type: 'POST',
			cache: false,
			data: new FormData($('#postPic')[0]),
			processData: false,
			contentType: false,
			success: function(data) {
				var artCoverUrl = data.path+ "/" +data.file.filename;
				$('#artCoverUrl').val(artCoverUrl);
			},
			error: function(data) {
				$('#show-bar').html(data.status + " : " + data.statusText + " : " + data.responseText);
			} 
		});
	});
</script>
</html>