<!DOCTYPE html>
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-center">简易博客系统v0</p>
				<p class="text-center">1027531092@qq.com</p>
			</div>
		</div>
	</div>
</div>